.academy-community-duo {
  @include from($tablet) {
    background-color: $white;
    background-image: linear-gradient(
      98deg,
      $white 0%,
      $white 50%,
      $white-ter 50%,
      $white-ter 100%
    );
  }

  .community {
    @include until($tablet) {
      background-color: $white-ter;
    }
  }
}

.mission-statement {
  .column.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
