@charset "utf-8";
@import url('https://use.typekit.net/rmp3tzf.css');
@import 'colors';

$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-serif: 'Source Serif Pro', serif;

$family-secondary: $family-serif;

$primary: $night-sky;
$info: $bright-sky;
$link: $sea;
$text: $asphalt;

@import '~bulma';

.title {
  font-family: $family-secondary;
}

.subsection + .subsection {
  margin-top: 3rem;
}

html.landing {
  .main-navigation {
    transition: all 200ms ease;

    &:not(.visible) {
      opacity: 0;
      transform: translateY(-100%);
    }

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.academy-community-duo {
  @include from($tablet) {
    background-color: $white;
    background-image: linear-gradient(
      98deg,
      $white 0%,
      $white 50%,
      $white-ter 50%,
      $white-ter 100%
    );
  }

  .community {
    @include until($tablet) {
      background-color: $white-ter;
    }
  }
}

.mission-statement {
  .column.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.brand {
  .logo.card .image {
    padding: 1rem;
  }
}

.h-adr {
  .p-street-address {
    display: block;
  }
}

// TODO: IMPROVE responsive tabs
.tabs {
  @include until($tablet * 0.66) {
    ul {
      flex-direction: column;
    }
  }
}
